<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking System</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="display-4">Welcome to the Hotel Booking System</h1>
        <p class="lead">This is the home page.</p>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link btn btn-primary mx-2" href="{% url 'hotel_list' %}">Hotel List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary mx-2" href="{% url 'booking_list' %}">Booking List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary mx-2" href="{% url 'review_list' %}">Review List</a>
            </li>
        </ul>
    </div>
    <footer class="footer text-center mt-5">
        <p>&copy; 2024 Hotel Booking System. All rights reserved.</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
